* {
	box-sizing: border-box;
}

.overlay {
	border-image: fill 1
		linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

body {
	margin: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	background-image: url('/images/tuna-melt-macka.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: antiquewhite;
}

h2 {
	margin: 0;
}

header {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	justify-content: space-around;
}

header img {
	max-width: 20rem;
	width: 40%;
}

main {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

section {
	width: 40%;
	padding: 2rem 1rem;
}

section .details {
	margin: 0;
}

li {
	margin-bottom: 0.8rem;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	gap: 0.6rem;
}

footer a {
	margin: 1rem;
}
