* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	justify-content: space-around;
}

header img {
	max-width: 20rem;
	width: 40%;
}

main {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

section {
	width: 40%;
}

li {
	margin-bottom: 0.8rem;
}

a {
	color: inherit;
	text-decoration: none;
}
